:root {
  /* original colors */
  --clr--: hsl(240, 75%, 2%);
  --clr--: hsl(270, 61%, 21%);
  --clr--: hsl(253, 100%, 33%);
  --clr--: hsl(263, 100%, 24%);
  /* original colors */
  /* primary used for top colors */
  --clr--primary-1: hsl(240, 75%, 2%);
  --clr--primary-2: hsl(240, 70%, 4%);
  --clr--primary-3: hsl(240, 67%, 6%);

  /* primary colors ends here */

  /* brown colors used for body starts here */
  /* --clr--secondary-0: hsl(0, 100%, 50%); */
    --clr--secondary-1: hsl(0, 70%, 50%);
    
    --clr--secondary-2: hsl(0, 65%, 55%);
  --clr--secondary-3: hsl(0, 60%, 60%);
  /* brown colors used for body ends here */
  /* brown text style starts here */


  /* purple text style ends here */

  /* white heading start*/
  --clr--white: #fff;
  /* white heading start*/

  --clr-body-grey:hsl(0,0%,90%);
    /* white heading start*/
--clr--success:hsl(120,100%,20%);
--clr--danger: hsl(0, 100%, 50%);

}











.nav{
  background-color: var(--clr--primary-1);
  color: var(--clr--white);
  height: 35vh;
  display: block;
}

.isLoading{
  position: absolute;
  top: 40%;
  left: 45%;
}

.logo{
  color: var(--clr--secondary-1);
  display: inline-block;
  margin-left: 10%;
}
.six{
  font-size: 220%;
}
.search-input{
  margin-left: 25%;
  margin-top: -4.8%;
}
input{
  width: 70%;
  height: 10vh;
}
.sign-in-sign-up-button{
 float: right;
}
.side-bar-link{
  list-style: none;
  text-decoration: none;
  color: var(--clr--primary-1);
  display: block;
  margin-top: 20%;
  margin-bottom: 1%;
  
  font-size: 110%;
  font-weight: bolder;
}

.side-bar{
  height: 80%;
  width: 95%;
  background-color: var(--clr--white)
}

.trend-container{
  width: 220%;
  height: auto;
  background-color: var(--clr--white)
}


.banner{
  display: grid;
  grid-template-columns:1fr 2fr;

}
body{
    background-color: var(--clr-body-grey);
}

.item-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 4%;
  height: auto;
  
  grid-gap:20%,
    solid,
    var(--clr-body-grey);
  color:var(--clr--primary-1);
  
  width: 30%;
  
}

.item-img{
  height: 40%;
  width: 100%;
}

.item-text{
  height:auto;
  width: 100%;
}

.product-side-bar {
  height: 80%;
  width: 95%;
  background-color: var(--clr--white);

}


.filter-check{
  width: 10%;
  height: 10%;
  
    
  
}

.sub-category-filter{
  margin-left: 50%;

}

.form-container{
  height: auto;
  width:30vw;
  background-color: var(--clr--secondary-1);
  color: var(--clr--white);
  position: absolute;
  top: 5%;
  left: 40%;
  transition: 1s;
}
.signup-form{
  width: 85%;
  height: 40%;
  margin-left: 3%;
}
.input-state{
  width: 55vw;
}
.sign-in-container{
  height: auto;
    width: 30vw;
    background-color: var(--clr--primary-1);
    color: var(--clr--white);
    position: absolute;
      top: 45%;
      left: 40%;
      transition: 1s;
}
.submit-button{
  margin-left: 40%;
}
.sign-in-heading{
  margin-left: 40%;

}



.hide-form{
  display: none;
}

.home-link{
  background-color: var(--clr--secondary-1);
}

.link{
  color: var(--clr--primary-1);
text-decoration: none;

}

    /* landing page styling start here */
.upload-nav{
  background-color: var(--clr--secondary-1);
  height: 15%;
  display: inline-block;
  position: relative;
}
.upload-nav .sell-logo,.upload-nav .sell-text1,.upload-nav .divider1,.upload-nav .sell-text2,.upload-nav .divider2,
.upload-nav .nav-text3
{
  display: inline;
position: absolute;
left: 35%; 
}

.sell-logo{
  height: 70%;
  width:2%;
  margin-left: 7%;
}

.divider1{
  margin-left: 11%;
  height: 100%;
}
.sell-text2{
  margin-left:13% ;
}
.nav-text3{
  margin-left: 35%;
}

.sell-text3{
  margin-left: 63.5%;
  margin-top: -2.1%;
    font-weight: 50px;
    
}

.divider2 {
  margin-left: 24%;
  height: 100%;
}


.round{
  background-color: var(--clr--primary-2);
  border-radius: 50%;
  height: 40%;
  width: 1%;
  margin-left: 61.5%;

}
.arc{
  background-color: var(--clr--primary-2);
    border-radius: 50%;
    height: 40%;
    width: 2%;
    margin-top: 0.2%;
    margin-left: 61%;
    border-bottom:solid  var(--clr--secondary-1);
}


.sell-box{
  background-color: var(--clr--secondary-1);
  height: 30vh;
  width: 20vw;
  color: var(--clr--primary-1);

}
.sell-square{
  background-color: var(--clr--primary-1);
  height: 75%;
  width: 99%;
  color: var(--clr--white);

}
.sell-square .sell-h, .sell-square .sell-circle{
  margin-left: 30%;
}
.sell-circle{
  background-color: var(--clr--white);
  height: 60%;
  width: 40%;
  border-radius: 50%;
}
.sell-cross{
  color: var(--clr--secondary-1);
  font-size: 650%;
  position: absolute;
  top: 50%;
  left: 47.3%;

  
}
.user-profile-info{
  position: absolute;
  top: 11.7%;
  left: 57%;
  background-color: var(--clr--secondary-1);
  color: var(--clr--primary-1);
  height: auto;
  width: 10vw;
  
}
            /* landing page styling ends here */


                        /* input start here */
.first-input-col{
  height: 7vh;
  background-color: var(--clr--white);
  border-radius: 2%;
}

.first-input-text{
  margin-left: 40%;
}

.second-input-col{
  height: auto;
  background-color: var(--clr--white);
  border-radius: 2%;
}

.main-category-label{
  margin-left: 28%;
}

.sub-category-label{
  margin-left: 28%;
}
.tag-label{
  margin-left: 28%;
}

.input-category{
  font-size: 0.9rem;
  margin-left: 28%;
}

.input-field{
  margin-left: 28%;
  width: 35vw;
}

.input-field-text{
  margin-left: 45%;
}


.field-container{
  background-color:var(--clr--white);
  margin-left: 31%;
  width: 30vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;

}

.file-field{
  background-color: var(--clr--white);
  width: 50%;
  height: 50%;
  
}

.input-submit-button{
  margin-left: 45%;

}

.upload-notification{
  background-color: var(--clr--success);
  color: var(--clr--white);
  font-size: 0.85rem;
  width: 23vw;
  height: 22vh;
  border-left: 20px;
  position: absolute;
  top: 50vh;
  left: 40vw;
  font-style: italic;
}

.non-upload-notification{
  background-color: var(--clr--white);
  color: var(--clr--primary-1);
  font-size: 0.85rem;
  width: 23vw;
  height: auto;
  border-left: 20px;
  border: 2px solid var(--clr--danger);
  position: absolute;
  top: 50vh;
  left: 40vw;
  font-style: normal;
}

.tag{
  margin-left: 28%;
}
.field-grey{
  background-color: var(--clr--secondary-1);
  
  margin-left: 28%;
}


/* input ends  here */



/* listed product start  here */

.listed-product-container{

  width: 90vw;
 
  height: 500px;
 display: flex;
 
}



.user-column{
  
  height: 40%;
  width: 35%;
  background-color: var(--clr--secondary-1);
  border: 10px solid var(--clr-body-grey);

}
.product-col{
  
 
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 4%;
  height: auto;
  
  grid-gap:20%,
    solid,
    var(--clr-body-grey);
  color:var(--clr--primary-1);
  
  width: 65%;
}
.delete-btn{

  
}
.delete-confirmation{
  background-color:var(--clr--secondary-1);
  width: 200px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  
}


/* listed product ends  here */

/* product info start here */
.listed-container{
  display: flex;
}
.listed-col-1{
  height: auto;
  width: 65vw;
  background-color: var(--clr--white);
 
}
.listed-col-2{
  height: 70vh;
  width: 40vw;
  background-color: var(--clr--white);
   margin-left: 3%;
}

.product-info-img{
  height: 80vh;
  width: 100%;
}
.partition-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.partion-1{
  width: 27.5vw;
}
.partion-2{
  width: 27.5vw;
}
.hr-tag{
  width: 100%;
}

/* product info start here */

   

















  @media screen and  (max-width:450px){

    .first-input-col{
      height: 7vh;
      background-color: var(--clr--white);
      border-radius: 2%;
    }


    .first-input-text{
      margin-left: 20%;
    }


    .input-field{
      margin-left: 28%;
      width: 50vw;
      height: 5vh;
    }

    .field-container{
      background-color:var(--clr--white);
      margin-left: 15%;
      width: 65vw;
      height: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
    
    }


    
    .file-field{
      background-color: var(--clr--white);
      width: 50vw;
      height: 30%;
      
    }
    



  }
                


            
